.linear {
    background-color: #4B0082;
    background-image: linear-gradient(45deg, #4B0082 0%,  #2BD2FF 22%, #00FA9A 30%, #00008B 90%);
    background-size: 1px 100px;
    background-position: 0 -10px;
    
}

.header{
    padding-bottom: 10px;
}

.card {
    margin-left: 0px;
    margin-right: 0px;
    border-bottom: 5px solid;
    border-top: 10px;
    border-left: none;
    border-right: none;
}

.card2 {
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 2px dotted;
    border-top: 2px dotted;
    border-left: 2px dotted;
    border-right: 2px dotted;
}

.card-header {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    background-color: white;
}

#main-header {
    color: aliceblue;
}

.search-button {
    display: flex;
    padding-top: 25px;
}

.weather_info p {
    margin-left: 10px;
}

.search-results {
    background-color: lightgray;
    font-weight: bold;
    justify-content: center;
}

.search-results:hover {
    background-color: aquamarine;
    cursor: pointer;
}

#clear_search_results {
    font-weight: bold;
}

#clear_search_results:hover {
    background-color: red;
}

.good_UV_Index {
    background-color: green;
}

.warning_UV_Index {
    background-color: yellow;
}

.bad_UV_Index {
    background-color: red;
}

#main_Icon {
    width: 60px;
    height: 60px;
}

#day_one_Icon, #second_Day_Icon, #third_Day_Icon, #fourth_day_Icon, #fifth_day_Icon {
    width: 35px;
    height: 35px;
}